<script>
    let code;
    export let email;
    export let result;
    let combinedActivate;

    let activateURL;
    if (import.meta.env.MODE == "development") activateURL = "http://localhost:5000/users/activate";
    else activateURL = "https://hub.torrentech.org/users/activate";

    $: combinedActivate = {
        email: email,
        code: code,
    };

    async function activate() {
        console.log(typeof JSON.stringify(combinedActivate));
        console.log(JSON.stringify(combinedActivate));
        let response = await fetch(activateURL, {
            method: "PATCH",
            mode: "cors", // no-cors, *cors, same-origin,
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            body: JSON.stringify(combinedActivate), // body data type must match "Content-Type" header
        });
        let text = await response.json();
        let data = text;
        return text;
    }

    function submitActivation() {
        result = activate();
    }
</script>

<div>
    <input class="Input" type="text" bind:value={code} placeholder="code" autocomplete="new-password" />
    <button class="Button" on:click={() => submitActivation()}>activate</button>
</div>
