<script>
console.log("mode of operation: " + import.meta.env.MODE);

	import MemberArea from "./MemberArea.svelte";
	import Content from "./Content.svelte";
	import Modal from "svelte-simple-modal";
	import {authenticated, autologinusername, userlevel} from './lib/stores.js';

	let validateURL;
	if (import.meta.env.MODE == "development") validateURL = "http://localhost:5000/users/validate";
	else validateURL = "https://hub.torrentech.org/users/validate";

    async function validateJWT(tkn) {
        let response = await fetch(validateURL, {
            method: "GET",
            mode: "cors", // *default, no-cache, reload, force-cache, only-if-cached
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            headers: {
				"Authorization": "Bearer " + tkn,
            },
        });
        let text = await response.json();
        return text;
    }

	if (localStorage.getItem("ukentonje") != null) {
		//to do: check locally (here) if JWT has expired, and if it is delete it and don't validate on server
		//how to store JWT in LocalStorage without quotes so this slicing is not needed?
		validateJWT(localStorage.getItem("ukentonje").slice(1, -1)).then((res) => {
				// console.log("App.svelte res: ", res)
				if (res.success) {
					authenticated.set(true);
					autologinusername.set(res.username);
					userlevel.set(res.level);
				}
				else {
					authenticated.set(false);
					autologinusername.set('');
        			userlevel.set('');
					localStorage.removeItem("ukentonje");
				}
		});
	}
</script>

<div class="container">
<Modal>
	<div class="Logo"><img class="valign" alt="logo" src="/ttlogo.svg"></div>
	<div class="Menu" />
	<div class="MemberArea"><MemberArea /></div>
	<div class="Content"><Content /></div>
</Modal>
</div>