<script>
    let releasesURL;
    if (import.meta.env.MODE == "development") releasesURL = "http://localhost:5000/releases/search";
    else releasesURL = "https://hub.torrentech.org/releases/search";

    import { authenticated, modalOpened } from "./lib/stores.js";
    import Loading from "./Loading.svelte";
    import Navigation from "./Navigation.svelte";
    import { getContext } from 'svelte';
    import Details from './Details.svelte';
  
    let opening = false;
	let opened = false;
	let closing = false;
	let closed = false;

    let decodeHtmlEntity = function(str) {
        return str.replace(/&#(\d+);/g, function(match, dec) {
            return String.fromCharCode(dec);
        });
    };

    const { open } = getContext('simple-modal');
    const loadDetails = (id) => { open(Details, { release_id: id },
        {
        styleWindow: { 
                width: 'max-content',
                background: '#1a262e',
                color: '#bfd6e3'
            }
        }, 
        {
            onOpen: () => {
					opening = true;
                    $modalOpened = true;
				},
				onOpened: () => {
					opening = false;
					opened = true;
				},
				onClose: () => {
					opened = false;
					closing = true;
                    $modalOpened = false;
                    releasesJSON(); // this function is called so the table of releases can be refreshed if release is edited or deleted, but then it doesn't remember where it was and it scrolls to the top
                                    // issue: https://gitlab.com/torrentech/torrents.torrentech.org/-/issues/11
				},
				onClosed: () => {
					closing = false;
					closed = true;
					setTimeout(() => { closed = false; }, 1000);
				}            
        });
        };
    

    let rows = []; //array that holds list of albums.
    let currentPage = 1;
    let hasPrevPage = false;
    let hasNextPage = false;
    let totalPages = 1;
    let totalDocs = 0;
    let text;
    let loading = true;
    let combinedParams;
    let id;

    function clickprops(node, params) {
        node.addEventListener("click", (e) => {
            id = e.srcElement.id;
        });
    }

    async function releasesJSON() {
        loading = true;
        //still I don't understand how combinedParams can be undefined here
        if (combinedParams == undefined) combinedParams = { pg: 1};
            let res = await fetch(releasesURL, {
            method: "POST",
            mode: "cors", // *default, no-cache, reload, force-cache, only-if-cached
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(combinedParams),
        });
        text = await res.json();
        currentPage = text.page;
        totalDocs = text.totalDocs;
        totalPages = text.totalPages;
        hasNextPage = text.hasNextPage;
        hasPrevPage = text.hasPrevPage;
        rows = text.docs;
        loading = false;
        return text;
    }

$: if ($authenticated) releasesJSON();
</script>

{#if $authenticated}
    <div class="navigation">
        <!-- if another copy of navigation div is made, it all breaks.. -->
        <Navigation
            {currentPage}
            {totalPages}
            {totalDocs}
            {hasNextPage}
            {hasPrevPage}
            on:change={(ev) => {
                combinedParams = {
                    pg: ev.detail.page,
                    search: ev.detail.searchString,
                };
            releasesJSON();
            }}
        />
    </div>
    {#if loading}
        <Loading />
    {:else}
        <div class="datacontainer">
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Artist</div>
                    <div class="col col-2">Album</div>
                    <div class="col col-3">Label</div>
                    <div class="col col-4">Year</div>
                    <div class="col col-5">Month</div>
                    <div class="col col-6">Day</div>
                    <div class="col col-7">Tags</div>
                    <div class="col col-8">Info</div>
                </li>
                {#each rows as release}
                    <li class="table-row">
                        <div class="col col-1" data-label="Artist">
                            {decodeHtmlEntity(release.artist)} <!-- {release.score} -->
                        </div>
                        <div class="col col-2" data-label="Album">
                            {decodeHtmlEntity(release.name)}
                        </div>
                        <div class="col col-3" data-label="Label">
                            {decodeHtmlEntity(release.label)}
                        </div>
                        <div class="col col-4" data-label="Year">
                            {#if release.release_year != 0} {release.release_year} {/if}                                                                                     
                        </div>
                        <div class="col col-5" data-label="Month">
                            {#if release.release_month != 0} {release.release_month} {/if}                                                         
                        </div>
                        <div class="col col-6" data-label="Day">
                            {#if release.release_day != 0} {release.release_day} {/if}                             
                        </div>
                        <div class="col col-7" data-label="Tags">
                            {#each release.tags as tag}
                                {tag}<br />
                            {/each}
                        </div>
                        <div class="col col-8" data-label="Info">
                            <button use:clickprops={{}} id="{release.release_id}" class="infobutton" on:click={() => loadDetails(id)}>info</button>
                        </div>
                    </li>
                {:else}
                    <br />
                    No results for the search term(s).
                {/each}
            </ul>
        </div>
    {/if}
{:else}
<div style="width: 70%">
    Welcome to <b>Torrentech V3</b> torrent database of electronic music!<br><br>

    After about 1.5 year of learning, designing and coding, the first version of V3 is here! :).
    Parsing, migrating and normalizing data from forum-based tracker and making it searchable on the site which is made from scratch
    was not at all an easy task, but finally we have something on which we can make further improvements.
    Album data from the old forum has been extracted and migrated to proper new database which is now a much better and robust basis for
    further development. <b>GitLab repository</b> is available <a href="https://gitlab.com/torrentech">here</a>.<br><br>
    
    - All the torrents are retained and are now public.<br>
    - All the users are retained too. Use your remembered password from Torrentech V2 to login. You can use either username or your email.
    If it's not working, you can try to reset the password.
        If you still have problems, ask pyc on our <a href="https://matrix.to/#/#torrentech:matrix.org">Matrix channel</a>.<br>
    - Search index is right now pretty rudimentary: it's made of artist, album, label and tags data.<br>
    - All the seed data that you have is usable, but you must import new torrents to your <a href="https://en.wikipedia.org/wiki/Comparison_of_BitTorrent_clients">bittorent client</a>.
    Spreading of public magnet links or torrents is encouraged, so we get lot of public seeds even among people who are not members.<br>
    - Site is not capable of adding new torrents to database, we can just edit and delete them.<br>
    - There's really no incentive for seeding right now other than the feeling you're spreading some good vibes, but that
    will most probably change with some next bigger update.<br>
    - There are 3 levels of users with these rights: administrator (edit & delete), moderator (edit) and user (view).<br>
    - We have 206 possible tags in 4 categories: Genres, Formats, Sources and Descriptive tags. Style: field data from old forum is
    converted to tag(s).<br><br>
    
    The path forward is pretty much clear: it's making it completely decentralized/p2p technology, then automatization of governance
    and development through DAO (Digital Autonomous Organization) and usage of some blockchain technology / some cryptocurrency
    or even making a dedicated one. The job is huge, so let's do it together!<br><br>

    Greetings from Pyc!
</div>
{/if}