body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #18242d;
    color: #bfd6e3;
}

.details{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #18242d;
    color: #bfd6e3;
    font-size:0.85em;
}

.container {
    display: grid;
    grid-template-columns: 50% 4fr 1fr;
    /* grid-template-rows: 17% 1fr; */
    grid-gap: 0em 1em;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.Logo {
    grid-area: 1 / 1 / 2 / 2;
}

.Menu {
    grid-area: 1 / 2 / 2 / 3;
}

.MemberArea {
    grid-area: 1 / 3 / 2 / 4;
}

.Content {
    grid-area: 2 / 1 / 3 / 4;
    position: relative;
    padding-top: 2em; //maybe delete?
}

.Input,
.Button {
    margin-bottom: 0.3em;
}

.LoginForm,
.RegisterForm {
    display: flex;
    flex-direction: column;
}

.LoggedIn {
    margin-top: 1em;
}

.LogoutForm {
    margin-top: 1em;
}

.navigation {
    text-align: center;
    font-size: 0.9em;
}

.datacontainer {
    max-width: 3950px;
    margin-left: -33px; //this is weird, but it works
    margin-right: 10px;
}

input[type='number']{
    width: 3.5em;
}

.navbutton:hover:enabled, .infobutton:hover:enabled {
    background-color: #f1cb7d;
    border-radius: 15%;
}

a:link{
    color:rgb(26, 144, 212);
}
a:visited{
    color:rgb(6, 170, 170);
}

.responsive-table {
    li {
        border-radius: 0.4em;
        padding: 8px 8px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
        font-size: 0.8em;
    }

    .table-header {
        background-color: #f1cb7d;
        color: black;
        font-weight: bold;
        font-size: 0.8em;
        //text-transform: uppercase;
        letter-spacing: 0.05em;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    }
    .table-row:nth-child(odd) {
        background: #203144;
    }
    .table-row:nth-child(even) {
        background: #1e2c38;
    }

    .table-row {
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.8);
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
        padding: 0.3em;
    }

    .col-1 {
        flex-basis: 20%;
    }

    .col-2 {
        flex-basis: 20%;
    }

    .col-3 {
        flex-basis: 20%;
    }

    .col-4 {
        flex-basis: 5%;
    }

    .col-5 {
        flex-basis: 5%;
    }

    .col-6 {
        flex-basis: 5%;
    }
    
    .col-7 {
        flex-basis: 20%;
    }

    .col-8 {
        flex-basis: 5%;
    }    

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        li {
            display: block;
        }

        .col {
            flex-basis: 100%;
            display: flex;
            padding: 10px 0;

            &:before {
                color: #bfd6e3;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.info {
    font-size: 0.80em;
    width: 95%;
    // display: var(--visibleInfo);
    display: grid;
    grid-template-columns: 15% 85%;
    // grid-template-columns: 15% 40% auto;
    grid-row-gap: 0.25em;
}

.edit {
    font-size: 0.80em;
    font-weight: bold;
    width: 100%;
    grid-column: 2; // nema efekta
    margin-top: 1em;
    grid-template-columns: 15% 85%;
    grid-row-gap: 0.25em;
    display: var(--visibleEdit);
}

.edit1 {
    grid-column: 2;
    width: 95%;
    font-weight: normal;
}

.label {
    grid-column: 1;
    font-weight: bold;
    color: bfd6e3;
    margin-right: 1.1em;
    padding: 0.2em;    
}    

.infodisplay {
    padding: 0.2em;
    grid-column: 2;
    font-weight: normal;
    color: bfd6e3;
    // display: var(--visibleInfo);
    white-space: pre-wrap;
    margin-left: 1.1em;
}

.inputdetails {
    height: 0.9em;
    background-color: rgb(217, 222, 234);
    color: #021b29;
    margin-top: -0.2em;
    margin-bottom: 0.3em;
    grid-column: 2;
    padding: 0.3em;
    border: 0.1em solid white;
    width: 95%;
    display: inline;
}

.tags {
    display: var(--visibleTags);
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    position: relative;
}

.releasedeleted {
    display: var(--visibleDeleted);
    width: 100%;
    height: 100%;
    font-size: 0.80em;
    // position: relative;
    position: sticky;
}

.deleterelease {
    display: var(--visibleDelete);
    width: 100%;
    height: 100%;
    font-size: 0.80em;
    position: relative;
}

.magnettorent {
    // grid-column: 3;
    // grid-row-start: 1;
    // grid-row-end: 9; 
    display: var(--visibleEdit);
} 

.button {
    // height: 1.5em;
    width: fit-content;
    height: fit-content;
    font-size: 0.9em;
    color: rgb(21, 2, 88);
    font-weight: bold;
    // position: relative;
    // display: var(--visibleEdit);
}

.buttonMagnetTorent {
    margin-bottom: 1.2em;
    font-size: 0.9em;
    color: rgb(21, 2, 88);
    font-weight: bold;
}

.textarea {
    // grid-column: 2;
    font-size: 1.1em;
    font-weight: normal;
    background-color: rgb(217, 222, 234);
    color: #021b29;
    box-sizing: border-box;
    border: 0.1em solid white;
    margin-bottom: 0.3em;
    width: 97%;
}

.status {
    font-size: 0.85em;
    padding: 0px;
    margin-bottom: 1em;
}

::selection {
color: rgb(29, 31, 66);
background: rgb(243, 193, 99);;
}

.td {
    vertical-align: top;
    text-align: left;
}