<!-- make this transparent load over the table: done here: https://github.com/mauricius/svelte-pagination -->
<style>
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #18242d;
    /* background-color: rgba(18,24,2d,50); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 99; */
    /* font-size: 3em; */
    opacity: 0.8;
  }
  .overlay p {
    color: #bfd6e3;
    font-size: 1.6em;
  }
</style>

<!-- <div class="overlay" transition:fade="{{delay: 0, duration: 200}}"> -->
<div class="overlay">    
    <p>loading...</p>
</div>