<script>
    import {authenticated, autologinusername, userlevel} from './lib/stores.js';

    let logoutURL;
    if (import.meta.env.MODE == "development") logoutURL = "http://localhost:5000/users/logout";
    else logoutURL = "https://hub.torrentech.org/users/logout";

    export let text;
    export let result;

    async function logout(token) {
        let response = await fetch(logoutURL, {
            method: "GET",
            mode: "cors", // *default, no-cache, reload, force-cache, only-if-cached
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            headers: {
                "Authorization": "Bearer " + token,
            },
        });
        let text = await response.json();
        authenticated.set(false);
        autologinusername.set('');
        userlevel.set('');
        localStorage.removeItem("ukentonje");
        return text;
    }

    function submitLogout(token) {
        result = logout(token);
    }
</script>

<div class="LoggedIn">Logged in:<br>
    {#if $autologinusername}    
        {$autologinusername}
    {:else}
        {text.username}
    {/if}
</div>

<div>
    <form
        class="LogoutForm"
        on:submit|preventDefault={submitLogout(text.accessToken)}
    >
        <button class="Button" type="submit">logout</button>
    </form>
</div>
