<script>
    import {authenticated, autologinusername, userlevel} from './lib/stores.js';
    import {localStore} from './lib/localStore.js';
    let email = "";
    let password = "";
    let combinedAuth;
    export let text = { message: "" };
    export let result = undefined;

    $: combinedAuth = {
        email: email,
        password: password,
    };

    let loginURL;
    if (import.meta.env.MODE == "development") loginURL = "http://localhost:5000/users/login";
    else loginURL = "https://hub.torrentech.org/users/login";

    async function authenticate() {
        let response = await fetch(loginURL, {
            method: "POST",
            mode: "cors", // no-cors, *cors, same-origin,
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            body: JSON.stringify(combinedAuth), // body data type must match "Content-Type" header
        });
        let text = await response.json();
        // This next line is verbose, but it's meant to demonstrate
        // what happens when we want to use a reactive value change
        // to bind our new information using `$: if(data) {...}`

        if (!text.error) {
            authenticated.set(true);
            autologinusername.set(text.username);
            userlevel.set(text.level);
            localStore("ukentonje", text.accessToken);
        }
        else {
            //probably not needed.. because at this moment there can be no previous login active
            authenticated.set(false);
            autologinusername.set('');
            userlevel.set('');
            localStorage.removeItem("ukentonje");
        }
        return text;
    }
    function submitLogin() {
        /* This promise needs to be awaited somewhere --
         * either in the HTML body via `{#await}` tags,
         * in a `<script>` tag, or in an imported `.js` module.
         */
        result = authenticate();
    }

    function loadRegisterForm() {
        text = { message: "loadRegisterForm" };
        result = Promise.resolve(text);
    }

    function loadResetPasswordForm() {
        text = { message: "loadResetPasswordForm" };
        result = Promise.resolve(text);
    }
</script>

<div>
    <form class="LoginForm" on:submit|preventDefault={submitLogin}>
        <input
            class="Input"
            type="text"
            bind:value={email}
            placeholder="username or email"
            autocomplete="username"
        />
        <input
            class="Input"
            type="password"
            bind:value={password}
            placeholder="password"
            autocomplete="current-password"
        />
        <button class="Button" type="submit">login</button>
        <button class="Button" on:click={loadResetPasswordForm}>reset password</button>
        <button class="Button" on:click={loadRegisterForm}>register form</button>
    </form>
</div>
