<script>
  import LoginForm from "./LoginForm.svelte";
  import ActivationForm from "./ActivationForm.svelte";
  import RegisterForm from "./RegisterForm.svelte";
  import ResetPasswordForm from "./ResetPasswordForm.svelte";
  import ResetForm from "./ResetForm.svelte";
  import LoggedIn from "./LoggedIn.svelte";
  import { authenticated } from './lib/stores.js';
  let result;
  let text = {};
</script>

<div>
  {#if result === undefined}
    {#if $authenticated}
      <LoggedIn bind:result {text} />
    {:else}
      <LoginForm bind:result />
    {/if}
  {:else}
    {#await result}
      <div><span>Working...</span></div>
    {:then text}
      <!-- {@debug result, text} -->
      {#if text.message === "User Logged out"}
        <LoginForm bind:result />
      {:else if text.message === "Authorization error"}
        <LoginForm bind:result />        
      {:else if text.message === "Registration success"}
        <script>alert("You're registered now, you need to submit activation code you received in your email");</script>
        <ActivationForm bind:result email={text.email} />
      {:else if text.message === "Please make a valid request"}
        <script>alert("Please make a valid activation request");</script>
        <ActivationForm bind:result email={text.email} />
      {:else if text.message === "Invalid details"}
        <script>alert("Invalid details - user does not exist");</script>
        <ActivationForm bind:result email={text.email} />
      {:else if text.message === "You must verify your email to activate your account"}
        <script>alert("You must verify your email to activate your account");</script>
      <LoginForm bind:result />
        {:else if text.message === "Invalid credentials"}
        <script>alert("Invalid credentials");</script>
      <LoginForm bind:result />
        {:else if text.message === "Account already activated"}
        <script>alert("Account already activated");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "Account activated"}
        <script>alert("Account activated");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "User logged in successfully"}
        <LoggedIn bind:result {text} />
      {:else if text.message === "Email is already in use"}
        <script>alert("Email already in use");</script>
        <RegisterForm bind:result {text} />
      {:else if text.message === "Username is already in use"}
        <script>alert("Username is already in use");</script>
        <RegisterForm bind:result {text} />
      {:else if text.message === "Couldn't send verification email"}
        <script>alert("Couldn't send verification email");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "Cannot register"}
        <script>alert("Cannot register");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "Account not found"}
        <script>alert("Account not found");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "Cannot be processed"}
        <script>alert("Cannot be processed");</script>
        <ResetPasswordForm bind:result {text} />
      {:else if text.message === "Password has been changed"}
        <script>alert("Password has been changed");</script>
        <LoginForm bind:result {text} />
      {:else if text.message === "If that email or username is in our database, we will send you an email to reset your password"}
        <script>alert("If that email or username is in our database, we will send you an email to reset your password");</script>
        <ResetForm bind:result {text} />
      {:else if text.message === "loadRegisterForm"}
        <RegisterForm bind:result {text} />
      {:else if text.message === "loadLoginForm"}
        <LoginForm bind:result {text} />
      {:else if text.message === "loadResetPasswordForm"}
        <ResetPasswordForm bind:result {text} />
      {:else if text.error == true}
        <script>alert("There was an error: usernames have to be at least 3 characters, and passwords at least 4");</script>
        <LoginForm bind:result {text} />
      {/if}
    {:catch error}
      <script>alert(error.message);</script>
      <div><span>{error.message}</span></div>
    {/await}
  {/if}
</div>