<script>
    import { createEventDispatcher } from 'svelte';
    import { onMount } from 'svelte';
    import { modalOpened } from "./lib/stores.js";    

    export let currentPage;
    export let totalPages;
    export let hasPrevPage;
    export let hasNextPage;
    export let totalDocs;
    let pgButton = 1;
    let searchString = '';

    const dispatch = createEventDispatcher();
    
    onMount(async () => {
      const node = document.getElementById("searchBox");
      node.addEventListener("keyup", ({key}) => {
          if (key === "Enter") {
          // console.log("Navigation.svelte: ENTER pushed");
          // console.log("Navigation.svelte: searchString: " + searchString);
              changePage(1, searchString);
          }
      });
    });
  
    // if range of pages is to be displayed
    // function range(size, startAt = 0) {
    //   return [...Array(size).keys()].map(i => i + startAt);
    // }

    function handleKeyUp(event) {
      if (!$modalOpened) {
        if (currentPage != 1 && event.code === 'ArrowLeft') changePage(currentPage-1, searchString);
        if (currentPage != totalPages && event.code === 'ArrowRight') changePage(currentPage+1, searchString);
      }
    }
  
    function changePage(page, searchString) {
      //  if ((page !== currentPage) || searchString !== undefined) dispatch('change', {page, searchString});
      if (searchString !== undefined) dispatch('change', {page, searchString});
    }
    //console.log("Navigation.svelte: currentPage: " + currentPage);
  </script>

  <svelte:window on:keyup={handleKeyUp}/>
  <div class="navigation">

    search: <input id="searchBox" type="text" bind:value={searchString}>
    &nbsp;&nbsp;page: {currentPage}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;pages: {totalPages}&nbsp;&nbsp;&#8226;&nbsp;&nbsp;albums: {totalDocs}&nbsp;&nbsp;&#8226;&nbsp;
    go to page:&nbsp;<input min="1" max="{totalPages}" type="number" bind:value={pgButton}><button class="navbutton" on:click={() => {
      if (pgButton <= totalPages) { changePage(pgButton, searchString); pgButton = undefined; }
    }}>go</button>
    &nbsp;&nbsp;<button class="navbutton" disabled={!hasPrevPage} on:click={() => changePage(currentPage-1, searchString)}>&#9664;</button>
    <button class="navbutton" disabled={!hasNextPage} on:click={() => changePage(currentPage+1, searchString)}>&#9654;</button>
</div>