<script>
    let email = "";
    let username = "";
    let password = "";
    let confirmPassword = "";
    let combinedRegister;
    export let text = { message: "" };
    export let result = undefined;

    let registerURL;    
    if (import.meta.env.MODE == "development") registerURL = "http://localhost:5000/users/signup";
    else registerURL = "https://hub.torrentech.org/users/signup";

    $: combinedRegister = {
        email: email,
        username: username,
        password: password,
        confirmPassword: password,
    };

    async function register() {
        let response = await fetch(registerURL, {
            method: "POST",
            mode: "cors", // no-cors, *cors, same-origin,
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            body: JSON.stringify(combinedRegister), // body data type must match "Content-Type" header
        });
        let text = await response.json();
        let data = text;
        return text;
    }

    function submitRegister() {
        result = register();
    }

    function loadLoginForm() {
        text = { message: "loadLoginForm" };
        result = Promise.resolve(text);
    }
</script>

<div>
    <form class="RegisterForm" autocomplete="false">
        <input
            class="Input"
            type="text"
            bind:value={email}
            placeholder="email"
            autocomplete="new-password"
        />
        <input
            class="Input"
            type="text"
            bind:value={username}
            placeholder="username"
            autocomplete="new-password"
        />
        <input
            class="Input"
            type="password"
            bind:value={password}
            placeholder="password"
            autocomplete="new-password"
        />
        <input
            class="Input"
            type="password"
            bind:value={confirmPassword}
            placeholder="confirmpassword"
            autocomplete="new-password"
        />
        <button class="Button" on:click={() => submitRegister()}
            >register</button
        >
        <button class="Button" on:click={loadLoginForm}>login form</button>
    </form>
</div>
