<script>
    let token = "";
    let newPassword = "";
    let confirmPassword = "";
    export let text = { message: "" };
    export let result = undefined;

    let resetURL;
    if (import.meta.env.MODE == "development") resetURL = "http://localhost:5000/users/reset";
    else resetURL = "https://hub.torrentech.org/users/reset";

    $: combinedReset = {
        token: token,
        newPassword: newPassword,
        confirmPassword: confirmPassword,
    };

    async function reset() {
        let response = await fetch(resetURL, {
            method: "PATCH",
            mode: "cors", // no-cors, *cors, same-origin,
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            body: JSON.stringify(combinedReset), // body data type must match "Content-Type" header
        });
        let text = await response.json();
        let data = text;
        return text;
    }

    function submitResetPassword() {
        result = reset();
    }

    function loadLoginForm() {
        text = { message: "loadLoginForm" };
        result = Promise.resolve(text);
    }
</script>

<div>
    <form
        autocomplete="false"
        class="ResetPasswordForm"
        on:submit|preventDefault={submitResetPassword}
    >
        <input
            class="Input"
            type="text"
            autocomplete="new-password"
            bind:value={token}
            placeholder="token"
        />
        <input
            class="Input"
            type="password"
            bind:value={newPassword}
            placeholder="new password"
            autocomplete="new-password"
        />
        <input
            class="Input"
            type="password"
            bind:value={confirmPassword}
            placeholder="confirm password"
            autocomplete="new-password"
        />
        <button class="Button" type="submit">reset password</button>
        <button class="Button" on:click={loadLoginForm}>login form</button>
    </form>
</div>
