<script>
    let email = "";
    export let text = { message: "" };
    export let result = undefined;

    let recoverURL;
    if (import.meta.env.MODE == "development") recoverURL = "http://localhost:5000/users/forgot";
    else recoverURL = "https://hub.torrentech.org/users/forgot";

    $: combinedRecover = {
        email: email,
    };

    async function recover() {
        let response = await fetch(recoverURL, {
            method: "PATCH",
            mode: "cors", // no-cors, *cors, same-origin,
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json",
            },
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
            body: JSON.stringify(combinedRecover), // body data type must match "Content-Type" header
        });
        let text = await response.json();
        let data = text;
        return text;
    }

    function submitResetPassword() {
        result = recover();
    }

    function loadLoginForm() {
        text = { message: "loadLoginForm" };
        result = Promise.resolve(text);
    }
</script>

<div>
    <form 
        autocomplete="false"
        class="ResetPasswordForm"
        on:submit|preventDefault={submitResetPassword}
    >
        <input
            class="Input"
            type="text"
            bind:value={email}
            placeholder="email or username"
            autocomplete="new-password"
        />
        <button class="Button" type="submit">reset password</button>
        <button class="Button" on:click={loadLoginForm}>login form</button>
    </form>
</div>
