<script>
	import { getContext } from 'svelte';
	import { TABS } from './Tabs.svelte';

	const tab = {};
	const { registerTab, selectTab, selectedTab } = getContext(TABS);

	registerTab(tab);
</script>

<style>
	button {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background: rgb(179, 176, 176);
		font-weight: bold;
		border: none;
		border-radius: 0.25em;
		margin-bottom: 0.7em;
		color: #333;
	}
	
	.selected {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		/* border-bottom: 2px solid rgb(243, 193, 99); */
		color: rgb(22, 21, 21);
		background-color: rgb(243, 193, 99);
	}
</style>

<button class:selected="{$selectedTab === tab}" on:click="{() => selectTab(tab)}">
	<slot></slot>
</button>