<script>
    import { afterUpdate } from 'svelte';
    import { tags } from "./lib/stores.js";

    let tagsURL;
	if (import.meta.env.MODE == "development") tagsURL = "http://localhost:5000/releases/tags";
	else tagsURL = "https://hub.torrentech.org/releases/tags";

    let text = [];
    let gTags = [];
    let fTags = [];
    let sTags = [];
    let dTags = [];

    let checkboxesArrayG = [];
    let checkboxesArrayF = [];
    let checkboxesArrayS = [];
    let checkboxesArrayD = [];

    async function tagsJSON() {
        let res = await fetch(tagsURL, {
            method: "POST",
            mode: "cors", // *default, no-cache, reload, force-cache, only-if-cached
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin",
            redirect: "follow", // manual, *follow, error
            referrerPolicy: "no-referrer", // no-referrer, *client
        });
        text = await res.json();

        gTags = text.filter((e) => { return e.type == "G"; });
        fTags = text.filter((e) => { return e.type == "F"; });
        sTags = text.filter((e) => { return e.type == "S"; });
        dTags = text.filter((e) => { return e.type == "D"; });
        return text;
    }

    function checkboxChanged(checkboxElement) {
        console.log("duzina niza: ");
        console.log($tags.length); 
        console.log(typeof($tags));
         
        if ($tags.length==0) $tags=[];
        if (checkboxElement.checked) $tags.push(checkboxElement.id)
        // if (checkboxElement.checked) $tags[0]=checkboxElement.id
        else $tags.splice($tags.indexOf(checkboxElement.id, 0),1);

        //got be done because reactivity of arrays in Svelte is recognized only by reasigning, push and splice just change existing array
        $tags = $tags;

        console.log("checkboxElement: ");
        console.log(checkboxElement);
        console.log(checkboxElement.checked);
        console.log("Tags.svelte tags: ");
        console.log($tags); 
     
    }
  
    //checking checkboxes according to tags array, after DOM is loaded
    afterUpdate(async () => {
        checkboxesArrayG.forEach((item, index, array) => {
            if ($tags.includes(checkboxesArrayG[index].id, 0)) checkboxesArrayG[index].checked = true;        
        });
        checkboxesArrayF.forEach((item, index, array) => {
            if ($tags.includes(checkboxesArrayF[index].id, 0)) checkboxesArrayF[index].checked = true;        
        });
        checkboxesArrayS.forEach((item, index, array) => {
            if ($tags.includes(checkboxesArrayS[index].id, 0)) checkboxesArrayS[index].checked = true;        
        });
        checkboxesArrayD.forEach((item, index, array) => {
            if ($tags.includes(checkboxesArrayD[index].id, 0)) checkboxesArrayD[index].checked = true;        
        });
    });
    
    tagsJSON();
 
</script>
<span>
    <br />
    <b>Genres:</b><br />
    {#each gTags as tag, i}
        <table style="display:inline">
            <tr>
                <input type="checkbox" on:change="{() => checkboxChanged(checkboxesArrayG[i])}" bind:this="{checkboxesArrayG[i]}" id="{tag.name}">{tag.name}
            </tr>
        </table>
    {/each}
    <br /><br />
    <b>Formats:</b><br />
    {#each fTags as tag,i}
        <table style="display:inline">
            <tr>
                <input type="checkbox" on:change="{() => checkboxChanged(checkboxesArrayF[i])}" bind:this="{checkboxesArrayF[i]}" id="{tag.name}">{tag.name}
            </tr>
        </table>
    {/each} 
    <br /><br />
    <b>Sources:</b><br />
    {#each sTags as tag, i}
        <table style="display:inline">
            <tr>
        <input type="checkbox" on:change="{() => checkboxChanged(checkboxesArrayS[i])}" bind:this="{checkboxesArrayS[i]}" id="{tag.name}">{tag.name}
            </tr>
        </table>
    {/each}
    <br /><br />
    <b>Descriptive:</b><br />
    {#each dTags as tag,i}
        <table style="display:inline">
            <tr>
        <input type="checkbox" on:change="{() => checkboxChanged(checkboxesArrayD[i])}" bind:this="{checkboxesArrayD[i]}" id="{tag.name}">{tag.name}
            </tr>
        </table>
    {/each}
    <br /><br />
</span>
